bg_remove/frontend/node_modules
bg_remove/backend/temp
bg_remove/start.log
.venv
.idea   
.bgRemove.lock
bg_remove/badges/*
.bgRemove.cache/*
.bgRemove.log
bg_remove/.env.example
.dockerignore
.bgRemove.lock